// font //

.font_2 {
  font-size: 12px !important;
}

.font_3 {
  font-size: 1rem !important;
}

.has_color_gray {
  color: #586069 !important;
}

.has_text_right {
  text-align: right !important;
}
