.border_bottom_gray {
  border-bottom: 1px solid #e1e4e8 !important;
}

.border_color_gray {
  border-color: #d1d5da !important;
}

// display style //

.d_block {
  display: block !important;
}

.d_flex {
  display: flex !important;
}

.d_inline_block {
  display: inline-block !important;
}

.d_inline_flex {
  display: inline-flex !important;
}

.d_none {
  display: none !important;
}

// hidden //

.o_hidden {
  overflow: hidden;
}

// float style //

.float_left {
  float: left !important;
}

.float_right {
  float: right !important;
}

// flex style //

.flex_auto {
  flex: auto !important;
}

.flex_column {
  flex-direction: column !important;
}

.flex_row {
  flex-direction: row !important;
}

.flex_order_2 {
  order: 2;
}

.justify_around {
  justify-content: space-around !important;
}

// margin style //

.mb_1 {
  margin-bottom: 4px !important;
}

.mb_2 {
  margin-bottom: 0.5rem !important;
}

.mb_2_5 {
  margin-bottom: 0.75rem !important;
}

.mb_3 {
  margin-bottom: 1rem !important;
}

.ml_0 {
  margin-left: 0 !important;
}

.mr_1 {
  margin-right: 0.25rem !important;
}

.mr_2 {
  margin-right: 0.5rem !important;
}

.mt_0 {
  margin-top: 0 !important;
}

.mt_1 {
  margin-top: 0.25rem !important;
}

.mt_2 {
  margin-top: 0.5rem !important;
}

.mt_3 {
  margin-top: 1rem !important;
}

.mr_3 {
  margin-right: 1rem !important;
}

.mt_4 {
  margin-top: 2rem !important;
}

// padding style //

.p_2 {
  padding: 0.5rem !important;
}

.pl_2 {
  padding-left: 1rem !important;
}

.pl_3 {
  padding-left: 1rem !important;
}

.pr_3 {
  padding-right: 1rem !important;
}

.pr_4 {
  padding-right: 24px;
}

.pt_1 {
  padding-top: 4px !important;
}

.pt_3 {
  padding-top: 1rem !important;
}

.py_3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py_4 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

// position style //

.p_absolute {
  position: absolute !important;
}

.p_fixed {
  position: fixed !important;
}

.p_relative {
  position: relative !important;
}

.p_static {
  position: static !important;
}

// top, left, right, bottom //

.top_0 {
  top: 0;
}

// rounded //

.rounded_bottom_1 {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.rounded_top_0 {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

// size //

.h_full {
  height: 100% !important;
}

.w_2 {
  width: 16%;
}

.w_9 {
  width: 75%;
}

.w_10 {
  width: 83%;
}

.w_full {
  width: 100% !important;
}

.w_standard {
  width: 70% !important;
}
